// btn-swipe-right

.btn-swipe-right {
  display: inline-block;
  text-transform: uppercase;
  padding: 1em 1.5em;
  background: none;
  color:$white;  
  font-weight: bold;
  position: relative;
  transition:color 0.25s ease;
  border:3px solid $sandy;
  
  span {
      position: relative;
      z-index: 1;
  }
}

// .btn-swipe-right:hover {
//   color:$sandy;
// }

.btn-swipe-right::after {
  position: absolute;
  content: ' ';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: $sandy;
  transform-origin:left;
  transition:width 0.25s ease;
}

.btn-swipe-right:hover::after {
  width: 100%;
}

//INVERSE

.btn-inverse {
  border: 3px solid $white;
  
  &.btn-swipe-right::after {
    background: $white;
  }

  &:hover {
    color: $sandy;
  }
}

//FORM BTN

.form-btn {
  background: $sandy;

  &:hover {
    background: $slate;
  }
}