.about {
    &__profile-photo {
        background: url('../img/profile.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;

        @include breakpoint(large) {
            height: auto;
            background-size: 100% auto;
        }
    }

    &__profile-info {
        background: $lightGrey;
        padding: 80px 40px;
    }
}