.blog {
    position: relative;
    padding: 100px 0;

    &__item {
        // margin-top: 50px;

        // @include breakpoint(medium) {
        //     margin-top: 100px;
        // }

        // &:last-child {
        //     margin-bottom: 100px;

        //     @include breakpoint(medium) {
        //         margin-top: 150px;
        //     }
        // }

        &-img {
            // background: url('https://source.unsplash.com/random/700x2000');
            // // background: black;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            height: 380px;
            width: 100%;
        }

        &-preview {
            transform: translateY(-130px);
        }

        &-heading {
            background: $lightGrey;
            padding: 30px 20px 0;
            margin-bottom: -1px;

            @include breakpoint(medium) {
                padding: 30px 40px 0;
            }

            &-clip {
                background: $lightGrey;
                margin: 0 0 -1px -1px;
                -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
                clip-path: polygon(0 0, 0% 100%, 100% 100%);
            }
        }

        &-desc {
            background: $lightGrey;
            padding: 10px 20px 40px;

            @include breakpoint(medium) {
                padding: 10px 40px 40px;
            }

            .read {
                display: block;
                color: $sandy;
                font-weight: 700;
                text-align: right;
            }
        }

        &-single {
            margin-top: 0;

            &:last-child {
                margin: 20px 0;

                @include breakpoint(medium) {
                    margin: 50px 0;
                }
            }
        }
    }

    &__cta {
        text-align: center;
    }
}

.stripe-orange {
    position: absolute;
    background: $sandy;
    content: ' ';
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.pagination {

    li {
        background: $white;
        margin-right: 4px;

        a:hover {
            background: $white;
        }
    }
}