.cta-bar {
    background: url('../img/desks.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding: 80px 0;
    text-align: center;

    .feature-text {
        color: $white;
        font-size: 30px;
    }

    .btn {
        margin: 40px 0 0;
    }

}

.cta-form {
    overflow: hidden;
    transition: height 0.5s ease;

    &[data-active=true] {
        height: auto;
        transition: height 0.5s ease;

    }

    &[data-active=false] {
        height: 0;
        transition: height 0.5s ease;
    }
}