.navigation {
    background: $slate;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    &[data-active='true'] {
        // @include breakpoint(large) {
            transform: translateY(0px);
            transition: all 0.5s ease;
        // }
    }

    &[data-active='false'] {
        // @include breakpoint(large) {
            transform: translateY(-200px);
            transition: all 0.5s ease;
        // }
    }

    &__logo {
        background: $slate;
        cursor: pointer;
        padding: 14px 10px 10px;
        text-align: left;
        position: relative;
        z-index: 1000;

        @include breakpoint(large) {
            text-align: center;
        }

        svg {
            max-width: 40px;
            max-height: 40px;
            width: 100%;
        }
    }

    &__mob-menu {
        background: $slate;
        display: block;
        padding: 10px;
        position: relative;
        z-index: 1000;

        @include breakpoint(large) {
            display: none;
        }

        .menu {
            cursor: pointer;
            float: right;
            width: 48px;
        }

        .line {
            border: 2px solid white;
            display: block;
            margin: 4px;
            width: 35px;
            transition: all 0.4s ease;

        }

        .open {
            .line {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(10px, 10px);
                    transition: all 0.4s ease;
                }
                  
                &:nth-child(2) {
                    // opacity: 0;
                    transform: rotateY(90deg);
                    transition: all 0.4s ease;
                }
                  
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -8px);
                    transition: all 0.4s ease;
                }
            }
        }

    }

    &__items {
        position: relative;
        z-index: 900;

        &[data-active='true'] {
            height: 100vh;
            padding: 10px 20px;
            transform: translateY(0px);
            transition: all 0.5s ease;
        }
    
        &[data-active='false'] {
            height: 0;
            transform: translateY(-400px);
            transition: all 0.5s ease;
        }

        @include breakpoint(large) {

            &[data-active='true'],
            &[data-active='false'] {
                height: auto;
                padding: 10px;
                transform: translateY(0px);
                transition: all 0.5s ease;
            }
        }


    }

    &__item-list {
        color: $white;
        display: block;
        margin: 0;
        padding: 0;

        @include breakpoint(large) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        list-style: none;
        margin: 10px 0;
        font-size: 25px;
        font-weight: 700;

        @include breakpoint(large) {
            font-size: 16px;
            font-weight: 300;
        }

        &::before {
            content: "// ";

            @include breakpoint (large) {
                content: '';
            }
        }
    }
}