.portfolio {
    // border: 1px solid red;

    &__item {
        margin-top: 100px;
        position: relative;

        @include breakpoint(medium) {
            margin-top: 200px;
        }

        &:last-child {
            margin-bottom: 100px;
        }

        &-preview {
            background: url('https://source.unsplash.com/random/700x2000');
            background-position: center top;
            background-size: 100%;
            display: inline-block;
            height: 500px;
            overflow: hidden;
            position: relative;
            transition: 3000ms all ease;
            width: 100%;

            @include breakpoint(medium) {
                width: 70%;
            }
            
            &:hover {
                background-position: center bottom;
                transition: 5000ms all ease;
            }

            &-advisian {
                background: url('../img/advisian.png');
                background-size: cover;
            }

            &-blog {
                background: url('../img/blog.png');
                background-size: cover;
            }
        }

        &-desc {
            background: $lightGrey;
            padding: 30px 40px;
            position: initial;
            width: 100%;
            top: 70px;
            right: 0;

            @include breakpoint(medium) {
                position: absolute;
                width: 40%;
            }
        }

        &-link {
            color: $sandy;
            display: block;
            font-weight: 700;
            text-align: right;
        
            &:after {
                content: '>';
                margin-left: 10px;
                transform: translateY(2px);
            }
        }

        &-point {
            display: inline-block;
            position: absolute;
            bottom: -40px;
            left: 0;
        }
    }
}