<div class="about grid-container">
  <div class="grid-x">
    <div class="small-12 large-5 large-offset-1 cell about__profile-photo">
      <!--<img src="assets/img/profile.png" alt="Verity Stothard profile photo">-->
    </div>
    <div class="small-12 large-5 cell about__profile-info">
      <!--<img src="assets/img/profile.png" alt="Verity Stothard profile photo">-->
      <p>Vivamus viverra, libero nec sagittis tempus, sem neque luctus leo, et suscipit orci neque ac ipsum. Nam ac porta nulla, vitae rutrum turpis. Pellentesque a commodo dolor. Proin vestibulum nisi ac eros dapibus mattis. Sed molestie lectus nisi, sed sodales arcu consectetur a. Nulla facilisi. Vivamus viverra, libero nec sagittis tempus, sem neque luctus leo, et suscipit orci neque ac ipsum. Nam ac porta nulla, vitae rutrum turpis. Pellentesque a commodo dolor.</p>
      <p>Proin vestibulum nisi ac eros dapibus mattis. Sed molestie lectus nisi, sed sodales arcu consectetur a.</p> 
      <p>VStothard x</p>
    </div>
  </div>
</div>