<div id="about" class="about grid-container">
  <div class="grid-x">
    <div class="small-12 large-5 large-offset-1 cell about__profile-photo">
      <!--<img src="assets/img/profile.png" alt="Verity Stothard profile photo">-->
    </div>
    <div class="small-12 large-5 cell about__profile-info">
      <!--<img src="assets/img/profile.png" alt="Verity Stothard profile photo">-->
      <p>After graduating with a Bachelor of Business in 2014, I began playing around with web development and quickly got hooked. Since then I have worked on numerous large scale projects, as well as some smaller, more experimental projects of my own. I love writing code from scratch, and using popular Front End frameworks such as Bootstrap and Foundation to create beautiful user interfaces, sprinkled with a little JavaScript magic to elevate the experience for the user.</p> 

      <p>When I am not building websites, I am either teaching myself new skills, creating <a href="https://www.skillshare.com/user/veritystothard" target="_blank">online courses</a>, or out exploring with my adorable pooch, <a href="https://www.instagram.com/alfiemakesfriends/" target="_blank">Alfie</a>.</p> 
    </div>
  </div>
</div>