<div id="blog" class="blog" data-id="C11">
    <div class="grid-container">
        <div class="grid-x">
            <div class="stripe-orange large-5 large-offset-1 cell"></div>

            <!-- blog items -->
            <div id="blog-feed-cont" class="medium-8 medium-offset-2 large-8 large-offset-2">
                <!-- blog posts injected here -->
            </div>
            <div class="pagination-cont medium-8 medium-offset-2 large-8 large-offset-2">
                <div class="pagination">
                    <!-- pagination injected here -->
                </div>
            </div>    
        </div>
    </div>
</div>