<div id="work" class="courses">
    <div class="grid-container">
        <h2>ONLINE COURSES</h2>
        <div class="grid-x grid-margin-x">
                <div class="course small-12 medium-5 medium-offset-1 cell">
                    <a href="https://skl.sh/2FUOh3K" target="_blank">
                        <div class="course__item-box">
                            <img src="assets/img/build-website-cover.png" alt="how to build a website course">
                            <p>HTML + CSS - HOW TO BUILD A WEBSITE</p>
                        </div>
                    </a>
                </div>
                <div class="course small-12 medium-5 cell">
                    <a href="https://skl.sh/2vm6eTX" target="_blank">
                        <div class="course__item-box">
                            <img src="assets/img/css-cover.png" alt="how to build a website course">
                            <p>LEVEL UP IN CSS - ADVANCED SELECTORS</p>
                        </div>
                    </a>
                </div>
            </div>
    </div>
</div>