<div class="full-slider" data-id='C03'>
    <div class="grid-container">
        <div class="grid-x">
            <div class="small-10 small-offset-1 medium-8 medium-offset-2">
                <div class="slider ">
                    <div class="slider-slide">
                        <spa class="slider-quote">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper est in bibendum feugiat. Ut pretium faucibus ante et iaculis."
                        </span>
                        <span class="slider-quote-name">Olivia Goodwin</span>
                    </div>
                    <div class="slider-slide">
                        <spa class="slider-quote">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae ex nisl. Vestibulum nec ultrices ipsum. Praesent dictum orci et volutpat eleifend. Vivamus et sollicitudin tortor. Suspendisse potenti. Cras cursus ante ex, ut sollicitudin leo scelerisque eu. Vestibulum id risus eu lectus pellentesque finibus at ut nulla. Aliquam bibendum ultricies nisl, non ullamcorper tellus iaculis in."
                        </span>
                        <span class="slider-quote-name">Olivia Goodwin</span>
                    </div>
                    <div class="slider-slide">
                        <spa class="slider-quote">
                            "Etiam semper est in bibendum feugiat. Ut iaculis. Vestibulum sapien est, porttitor non arcu vel, dignissim tincidunt dolor. Proin vitae ex nisl. Vestibulum nec ultrices ipsum. Praesent dictum orci et volutpat eleifend. Vivamus et sollicitudin tortor. Suspendisse potenti. Cras cursus ante ex, ut sollicitudin leo scelerisque eu. Vestibulum id risus eu lectus pellentesque finibus at ut nulla. Aliquam bibendum ultricies nisl, non ullamcorper tellus iaculis in."
                        </span>
                        <span class="slider-quote-name">Olivia Goodwin</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>