<div class="C03-list-columns">
    <div class="grid-container container">
        <div class="grid-x grid-padding-x">
            <div class="small-10 small-offset-1 medium-10 medium-offset-1 large-8 large-offset-2 cell">
                <h1 class="bold">Skills</h1>
            </div>
            <div class="small-10 small-offset-1 medium-6 medium-offset-0 large-4 large-offset-2 cell">
                <ul>
                    <li>{{> icon}} The Trifecta: HTML, CSS, JavaScript (ES6)</li>
                    <li>{{> icon}} SCSS</li>
                    <li>{{> icon}} JQuery</li>
                    <li>{{> icon}} Foundation / Bootstrap</li>
                    <li>{{> icon}} Animations (Pure CSS, GreenSock)</li>
                </ul>
            </div>
            <div class="small-10 small-offset-1 medium-6 medium-offset-0 large-4 cell">
                <ul>
                    <li>{{> icon}} Headless CMS: Contentful, Keystone</li>                    
                    <li>{{> icon}} Git, Source Tree, Gitkracken, Command Line</li>
                    <li>{{> icon}} Atom / Sublime / VS Code</li>
                    <li>{{> icon}} Handlbars</li>
                    <li>{{> icon}} Making it happen</li>
                </ul>
            </div>
        </div>
    </div>
</div>