<div id="work" class="portfolio grid-container">
    <div class="grid-x">
        <div class="portfolio__item large-10 large-offset-1 cell">
            <div class="portfolio__item-preview portfolio__item-preview-advisian"></div>
            <div class="portfolio__item-desc">
                <p><a href="https://advisian.com" target="_blank">Advisian</a></p>
                <p>As part of the development team at <a href="http://www.isobar.com/au/en/" class="link bold">Isobar Australia</a>, I worked with my team to produce a brand new UI for Advisian.com.</p>
                <p>The site uses Foundation as the Front End framework and has fully componentised CSS and Javascript to ensure highly maintainable code across such a large site infrastructure.</p>
                <a href="https://advisian.com" class="portfolio__item-link" target="_blank">visit site</a>
                <div class="portfolio__item-point">
                    <svg width="32px" height="35px" viewBox="0 0 32 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop" transform="translate(-553.000000, -3082.000000)" fill="#F8F7F8">
                                <g id="Portfolio" transform="translate(104.000000, 1956.000000)">
                                    <g id="Portfolio-Item" transform="translate(0.000000, 646.000000)">
                                        <polygon id="Line" points="449 480 449 515 481 480"></polygon>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="portfolio__item large-10 large-offset-1 cell">
            <div class="portfolio__item-preview portfolio__item-preview-blog"></div>
            <div class="portfolio__item-desc">
                <p><a href="https://veritystothard.com/blog/" target="_blank">Custom Blog</a></p>
                <p>A blog site that uses <a class="link bold" href="https://foundation.zurb.com/sites/docs/">Foundation</a> for it's front end framework and <a class="link bold" href="https://www.contentful.com">Contentful</a> as the CMS / back end.</p>
                <p>This was an experimental project testing the usage and maintainability of a headless CMS. Over all my experience with Contentful has been very positive, it is a clean and easy to use platform, great for quickly implementing a CMS customised to your particular use case.</p> 
                <a href="https://veritystothard.com/blog/" class="portfolio__item-link">visit site</a>
                <div class="portfolio__item-point">
                    <svg width="32px" height="35px" viewBox="0 0 32 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop" transform="translate(-553.000000, -3082.000000)" fill="#F8F7F8">
                                <g id="Portfolio" transform="translate(104.000000, 1956.000000)">
                                    <g id="Portfolio-Item" transform="translate(0.000000, 646.000000)">
                                        <polygon id="Line" points="449 480 449 515 481 480"></polygon>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>